# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipch
*.tlog
*.sbr
*.log
*.idb
*.pdb
*.user
*.map
*.txt
*.htm
*.lock
*.vsidx
*.opendb
*.db-wal
*.db-shm
*.db
*.bin
Windows/.vs/hwsdl/v17/.suo
